@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  /* font-weight: bold; */
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  /* font-family: "ColfaxAI", Helvetica, sans-serif; */
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.main {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  /* margin: 0 auto; */
  position: relative;
  height: 100%;
  width: 100%;
}

.main .icon {
  width: 34px;
}
.main .header {
  position: absolute;
  top: 0;
  font-size: 32px;
  line-height: 60px;
  color: #ca1343;
  width: 100px;
  text-align: center;
  background: rgb(255 255 255 / 50%);
  backdrop-filter: blur(4px);
  left: calc(50% - 50px);
  z-index: 1;
}

.main .result {
  font-weight: normal;
  white-space: pre-line;
  overflow-y: auto;
  position: absolute;
  top: 0;
  height: calc(100% - 50px);
  width: 100%;
}
.main .result .user {
  background-color: #fff;
  padding: 10px 20px;
  margin: 10px 0;
}
.main .result .assistant {
  background-color: #c9144522;
  padding: 10px 20px;
  margin: 10px 0;
}
.main .result .empty {
  font-size: 32px;
  line-height: 60px;
  color: #ca1343;
  text-align: center;
  background: rgb(255 255 255 / 50%);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  margin-top: 40vh;
}

.main form {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  position: absolute;
  bottom: 4px;
  z-index: 1;
  align-items: flex-end;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #ca1343;
  border-radius: 4px;
  outline-color: #ca1343;
  flex-grow: 1;
  margin: 0 2px 0 4px;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 0;
  color: #fff;
  background-color: #ca1343;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 2px 0 2px;
  right: 6px;
  position: absolute;
  bottom: 4px;
}

.main .dropdown {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 100;
}
.main .dropdown .select {
  font-size: 16px;
  padding: 10px;
}

.main .textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 14px 70px 14px 12px;
  font-size: 12px;
  box-sizing: border-box;
}

.main .messageInput {
  width: 100%;
  display: flex;
}

.main .messageSending {
  background: rgb(250 226 231 / 72%);
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
